@charset "UTF-8";
/* CSS Document -This is how you make comment */
/* TAG SELECTORS */

/*body{
  background-color: red; 
}*/

h3 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
}



h4{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
font-size: 20px;

}
p {
  font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}

.hidden {
  display: none;
}





#container {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
    background-color: #fff;

  padding-left: 20px;
  padding-right: 20px;
  
    
}

#topBar
{
  background-color: #50575b;
  height: 20px;
}
/*--- Body --*/

body {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
background-color: #ccc;
}



#mainHeader 
{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
  padding-top: 40px;


}


#logo
{
  width: 100px; /*-- 250px */
  margin-left: 50px;
  
}

#logo img{
   display: block;
  height: 100px;
  
}
#mainNav 
{
  margin-left: auto;
  height: 100px;
  width: 500px;
  background-color: #626b70;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: solid 1px #DDD;

}

nav ul{
  text-align: center;
  /* float: right; */
   margin-right:  5px;
   padding-top: 25px;


}
nav ul li{
  display: inline-block;
  line-height: normal;
  padding: 0px 5px; 

  
  
}

nav ul li a {
 transition: all 0.3s ease 0s;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  display: block;

}

nav ul li a:hover {
color: #0088a9;
}

#promo 
{
  margin-top: 40px;

  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
    
}

#promoText-Image 
{

  width: 600px;
  height: 250px;
  display: flex;
  flex-direction: row;

}
#promo-photo {
  width: 280px;
  height: 250px;

  
}
#promo-photo img {
  display: block;
  width: 100%;
  height: 250px;
}

#promoText {

 font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
width: 320px;
padding: 0px 15px 0px 15px;


}



#main-photo 
{
  margin-left: auto;
  width: 280px;
  height: 250px;
  display: flex;
  flex-direction: row;
}
#productInfo 
{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
 justify-content: space-between;
  border-bottom: solid 1px #DDD;

  
}

  


/*Get rid of this, here just to give different height to productInfo*/
#productInfo p 
{
    
}

.productDesc 
{

  width: 200px;
}


#mainFooter {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footerNav {
 
 
  height: 100px;
  width: 500px;
  background-color: #626b70;
  
}

nav ul{
  text-align: center;
  /* float: right; */
   margin-right:  15px;
   padding-top: 25px;


}
nav ul li{
  display: inline-block;
  line-height: normal;
  padding: 10px 5px; 
  
  
}

nav ul li a {
 transition: all 0.3s ease 0s;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  display: block;

}

nav ul li a:hover {
color: #0088a9;
}

#copyRight 
{
 
  margin-left: auto;
  width: 310px;
  height: 100px;
  
  background-color: #50575b;
  

}

  
  


.socialicons{
 list-style-position: inside;
 display: flex;
 align-items: center;
 justify-content: space-between;

 

}
.socialicons li{

 margin: 0 10px;
 color: #fff;


}
.socialicons li a i{
  width: 14px;
  height: 14px;
}
.socialicons a:hover i{
  color: #fff;
}


#copyRight-text p {
  
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact{
  position: relative;
  height: 630px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #b3cec7;
  background-size: cover;

}

.contact .content {
  max-width: 920px;
  text-align: center;
}

.contact .content h3 {
  font-weight: 500;
  color: #fff;

}
.contact .content p {
  font-weight: 500;
  color: #fff;

}

.container-me {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container-me .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container-me .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container-me .contactInfo .box .icon {
  min-width: 25px;
  height: 25px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
}

.container-me .contactInfo .box .text {
  display: flex;
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 200;
}

.container-me .contactInfo .box .text h4 {
  
  color: #fff;

}
.contactForm {
  width: 40%;
  padding: 20px;
  background: #fff;
}
.contactForm h3 {
    font-size: 16px;
    color: #333;
   
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea

{
  width: 100%;
  padding: 5px 0;
  font-size: 10px;
  margin: 5px 0;
  border:none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 10px;
  margin: 5px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}


.contactForm .inputBox input[type="submit"]
{
  width: 100px;
  background:#00bcd4;
  color: #fff;
  border:none;
  cursor: pointer;
  padding: 10px;
  font-size: 10px;
}
@media (max-width: 920px)
{
  .contact {
    padding: 25px;

  }
  .container-me {
    flex-direction: column;
  }
  .container-me .contactInfo {
    margin-bottom: 40px;
  }
  .container-me .contactInfto {
    width: 100%;
  }
}

/*about me- Notice we are using one style sheet for all of the pages*/

#contentCon {
 

  
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
 border-bottom: solid 1px #DDD;
 

}

/*Get rid of this, here just to give different height to promo*/
#contentCon p 
{ 
 display: flex;
 justify-content: space-between;

  
}

#content1 
{
  height: 630px;
  width: 440px;
  background-color: #b3cec7;


  
  
}

#content2 
{
  height: 630px;
  margin-left: auto;
  width: 440px;
  background-color: #b3cec7;
}
#content2 img{
  height: 630px;
  width: 440px;
}

#productImages 
{
  margin-top: 40px;
  border-bottom: solid 1px #DDD;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
    justify-content: space-between;
}

/*Get rid of this, here just to give different height*/


.productImg 
{
  width: 280px;
  height: 240px;
}

#contentText {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contentAreaBig
{
  margin-top: 40px;
  border-bottom: solid 1px #DDD;
  padding-bottom: 40px;
  width: 920px;
  height: 380px;


}

}




#promo-photo2 {
  width: 640px;
  height: 240px;
  display: flex;
  }

#promo-photo2 img {
  display: block;
  width: 100%;
  height: 180px;
  width: 640px;
  height: 240px;
  display: flex;
  }


